// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap');

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";

body {
    height: 100vh;
}

#app {
    height: 100%;
}

.text-header {
    font-family: 'Rubik Puddles', cursive;
    font-size: 1.5rem !important;
    color: var(--bs-light);
}

.text-header:hover {
    color: rgba(var(--bs-light-rgb), 0.5);
}

main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas:
        "sidebar content";
    grid-template-columns: 250px 1fr;
}

.footer {
    padding: 2vh;
}

.form-signin {
    max-width: 90%;
}

@media only screen and (max-width: 600px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "content";
        height: 100vh;
        margin: 0;
    }

    main .sidebar {
        position: fixed;
        height: 98vh;
        z-index: 11;
        width: 250px;
        left: -255px;
        transition: 0.8s;
    }

    main .sidebar .toggle-sidebar {
        display: block !important;
    }

    main .active {
        left: 0;
    }

    .form-signin {
        width: 80%;
    }
}

    @media only screen and (min-width: 600px) {
        .form-signin {
            width: 60%;
        }
    }

    @media only screen and (min-width: 768px) {
        .form-signin {
            width: 40%;
        }
    }

    @media only screen and (min-width: 992px) {
        .form-signin {
            width: 20%;
        }
}

nav {
    grid-area: sidebar;
}

    nav.bg-primary li a {
        color: white !important;
    }

content {
    grid-area: content;
    overflow-x: hidden;
    overflow-y: auto;
}

.list-group-btn:hover {
    --bs-bg-opacity: 0.2;
    background-color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity));
}

tr,
tbody {
    transition: 0.8s;
}

footer {
    grid-area: footer;
}

.pointer {
    cursor: pointer;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
    .lds-ellipsis div {
        position: absolute;
        top: 33px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity));;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    .lds-ellipsis div:nth-child(1) {
        left: 8px;
        animation: lds-ellipsis1 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(2) {
        left: 8px;
        animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(3) {
        left: 32px;
        animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(4) {
        left: 56px;
        animation: lds-ellipsis3 0.6s infinite;
    }
    .loader {
        background: rgba(var(--bs-secondary-rgb), 0.4);
        display: flex;
        position: fixed;
        z-index: 12;
    }
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
    @keyframes lds-ellipsis3 {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(0);
        }
    }
    @keyframes lds-ellipsis2 {
        0% {
            transform: translate(0, 0);
        }
        100% {
            transform: translate(24px, 0);
        }
    }
